Hello, World!
<button class="btn btn-success" type="button">
    <span class="feather icon-alert-triangle"></span>
    <span>Teste</span>
</button>
<painel type="success">
    <h4>Titulo</h4>
    <p>texto</p>
    <hr>
    <span>By Jhony</span>
</painel>

<ui-view></ui-view>